name: Auto-publish

on: [push, workflow_dispatch]

jobs:
  pypi-publish:
    if: github.ref == 'refs/heads/main'
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      url: https://pypi.org/p/temper_dir
      name: pypi
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
      contents: write
    steps:
    - name: Build and release
      uses: etils-actions/pypi-auto-publish@v1
      with:
        gh-token: ${{ secrets.MY_GITHUB_TOKEN }}
        pkg-name: temper-dir
        parse-changelog: true

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
